#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  background-color: #f5f5f5;
  padding-top: 1px;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  margin: 2rem auto;
  padding: 0.5rem;
  background-color: #f5f5f5;
  z-index: 1;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../assets/blue.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 70%;
}
.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

.icon {
  cursor: pointer;
  height: 2rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: rgba(27, 55, 83, 0.933);
}

.contact_hover {
  color: grey;
  text-decoration: none;
  text-decoration-color: white;
}

.contact_hover:hover {
  color: #1b3753;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}
