#experience {
  position: relative;
  padding-top: 8.5rem;
  background-color: #f5f5f5;
  height: 75vh;
}

.title {
  color: rgba(27, 55, 83, 0.933);
  font-size: 3rem;
  text-align: center;
}

.flexbox_containers {
  gap: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.flexboxes_containers {
  justify-content: center;
  flex-direction: column;
}

.flexbox_containers,
.flexboxes_containers {
  display: flex;
  flex-wrap: wrap;
}

.flexboxes_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  flex: 1;
  background-color: #f2f2f2;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: darkgrey;
  color: rgba(27, 55, 83, 0.933);
}

.p_icon {
  height: 150px;
  width: 150px;
  margin-right: 1.5rem; /* Add some space between the image and the text */
}

.text-content {
  text-align: left;
}

.date,
.location,
.description {
  text-align: left;
}

.technologies {
  text-align: left;
  margin-top: 1rem; /* Add some space above the technologies list */
  color: rgba(27, 55, 83, 0.933);
}

.content-row {
  display: flex;
  align-items: center; /* Align items horizontally */
  gap: 1rem; /* Add some space between the image and text content */
}
